 

<ion-content [fullscreen]="true" class="login-content"  padding>
  
  <ion-card class="login-card" style="margin-left: -1px;">
    <ion-item lines="none">
      <ion-label position="floating">
        <ion-icon name="mail-outline"></ion-icon> Email
      </ion-label>
      <ion-input [(ngModel)]="email" type="email" placeholder="Enter your email"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="floating">
        <ion-icon name="lock-closed-outline"></ion-icon> Password
      </ion-label>
      <ion-input [(ngModel)]="password" type="password" placeholder="Enter your password"></ion-input>
    </ion-item>
    
    <ion-button expand="full" (click)="login()" shape="round" class="login-button">
      SIGN IN
    </ion-button>
    
    <ion-button expand="full" routerLink="/signup" shape="round" fill="outline" color="secondary" class="signup-button">
      SIGN UP
    </ion-button>

    <ion-button expand="full" fill="clear" shape="round" class="facebook-button">
      <ion-icon name="logo-facebook" slot="start"></ion-icon> Connect with Facebook
    </ion-button>
    
    <ion-text color="medium" class="forgot-password">Forgot your password?</ion-text>
  </ion-card>
</ion-content>
